*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#dm{
  font-size: 250%;
  color: black;
  text-align: center;
}
section{
  text-align: center;
  display: flex;
}
.cuadro{
  vertical-align: top;
background: white ;
font-size: 105%;
padding: 1%;
margin: 5%;
border-color:black;
border-width: thin;
border: 3px;
border-style:solid;
line-height:1;
align-items: center;
display: block;
}
.cuadrito{
  vertical-align: top;
background: white ;
font-size: 105%;
padding: 1%;
margin: 5%;
border-color:black;
border-width: thin;
border: 3px;
border-style:solid;
line-height:1;
}
header{
    height: 15%;
    background: #0070E7;
    color: black;
    text-align: left;
    align-items: center;
    display: flex;
}
header label{
  font-size: 30px;
  cursor: pointer;
  text-align: right;
}
#btn-menu{
    display: none;
}
#btn-user{
    display: none;
}
#btn-car{
    display: none;
}
#user{
  display: block;
    padding-left: 2%;
    text-indent: -1%;
}
#car{
  display: block;
    padding-left: 74%;
    text-indent: -1%;
}
#unme{
  display: block;
  padding-left: 1%;
  text-indent: -1%;
}
#input-search{
    position: relative;
    top: 0px;
    *overflow: hidden;
    left: 40%;
}
.menu{
    position: absolute;
    top: 15%;
    left: 0px;
    width: 100%;
    transform: translateX(-100%);
    transition: all 0.3s;
}
.menu a{
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}
.menu ul{
    display: block;
    background: #4593E7;
    color: black;
}
.menu ul li:hover ul{
    display: none;
    position: static;
    background: #D1D1D1;
}
.menu a span{

    position: absolute;
    right: 5px;

}
#btn-menu:checked ~ .menu{

    transform: translateX(0%);
}
body{
  height: calc(100vh - 50px - 80px);
}
#in h3{
  display:inline;
  padding: 11%;
}
#l{
  position: relative;
  left: 29%;
  height: auto;
  top: -40px;
}
#s{
  position: relative;
  left: 15%;
  height: auto;
}
#c{
  position: relative;
  height: auto;
  top: -50px;
}
#b{
  position: relative;
  height: auto;
  top: -20px;
}
#ca{
  position: relative;
  height: auto;
  left: 15%;
  top: 10px;
}
#co{
  position: relative;
  height: auto;
  left: 29%;
  top: -30px;
}
@media (max-width:768px){
  #user{
    display: block;
      padding-left: 1px;
      text-indent: -1%;
  }
  #car{
    display: block;
      padding-left: 17%;
      text-indent: -1%;
  }
  #unme{
    display: block;
    padding-left: 1%;
    text-indent: -1%;
  }
  #input-search{
      position: relative;
      top: 0px;
      *overflow: hidden;
      left: 15%;
  }
  #l{
    position: relative;
    left: 22%;
    height: auto;
    top: -20px;
  }
  #s{
    position: relative;
    left: 12%;
    height: auto;
  }
  #c{
    position: relative;
    height: auto;
    top: -25px;
  }
  #b{
    position: relative;
    height: auto;
    top: -10px;
  }
  #ca{
    position: relative;
    height: auto;
    left: 10%;
    top: 5px;
  }
  #co{
    position: relative;
    height: auto;
    left: 20%;
    top: -15px;
  }
  #in h3{
    display:inline;
    padding: 3%;
    font-size: 2.5vw;
  }
  #dm{
    font-size: 7vw;
    color: black;
    text-align: center;
  }
  h4{
    font-size: 6vw;
    color: black;
    text-align: center;
  }
}
